.artDetail {
  display: flex;
  margin: 4px 0;
  gap: 6px;
}

.artItemFront {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 8px;
  .MuiCard-root {
    background-color: var(--mui-palette-secondary-main);
  }
}

.artItemBack {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  background-color: var(--mui-palette-secondary-main);
}

.altTitlesList {
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.details {
  display: flex;
  flex-direction: column;
}