$mobile-breakpoint: 600px;
$medium-tablet-breakpoint: 912px;
$xs-mobile-breakpoint: 300px;

.main {
	background-color: var(--mui-palette-primary-main);
	color: var(--mui-palette-info-main);
	padding-bottom: 8px;
}

.header {
	padding: 20px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	z-index: 100;
	gap: 8px;

	@media only screen and (max-width: $medium-tablet-breakpoint) {
		flex-direction: column;
	}

	@media only screen and (min-width: $medium-tablet-breakpoint) {
		justify-content: space-between;
		align-items: center;
	}
}

.headerTitle {
	display: flex;
	gap: 8px;
	align-items: center;

	@media only screen and (max-width: $mobile-breakpoint) {
		flex-direction: column;
	}
}

.headerText {
	@media only screen and (max-width: $mobile-breakpoint) {
		text-align: center;
		margin-bottom: 16px;
	}
}

.pagination {
	display: flex;
	justify-content: flex-end;
	margin: 16px;
}

.inputs {
	display: flex;
	gap: 8px;
	align-items: center;

	@media only screen and (max-width: $medium-tablet-breakpoint) {
		justify-content: space-between;
	}
}

h1 {
	@media only screen and (max-width: $mobile-breakpoint) {
		display: none;
	}
}