@keyframes shine {
    to {
      background-position-x: -200%;
    }
}

.skeletonBox {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}
